<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426578855391-38o8vs2ufkv8fs30n0rqk3hugfufh10m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426578855391-38o8vs2ufkv8fs30n0rqk3hugfufh10m</string>
	<key>API_KEY</key>
	<string>AIzaSyBaCwXpKrmSoabvUrrM1MKWLqHYCivCtwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>426578855391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>picker.SwiftUITest</string>
	<key>PROJECT_ID</key>
	<string>swiftuitest-68408</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitest-68408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426578855391:ios:187815101dde99f10cb06a</string>
</dict>
</plist>